@font-face {
    font-family: applefont-light;
    src: url(fonts/SF-Pro-Text-Light.otf);

}

@font-face {
    font-family: applefont-regular;
    src: url(fonts/SF-Pro-Text-Regular.otf);

}

@font-face {
    font-family: applefont-bold;
    src: url(fonts/SF-Pro-Text-Bold.otf);

}

@font-face {
    font-family: applefont-medium;
    src: url(fonts/SF-Pro-Text-Medium.otf);

}

@font-face {
    font-family: applefont-heavy;
    src: url(fonts/SF-Pro-Text-Heavy.otf);

}

body {
    margin: 0;
    font-family: applefont-regular;

}

a {
    text-decoration: none;
    color: #2997ff;
    font-size: 21px;

}
ul{
    list-style-type: none;
    padding-inline-start: 0;
}

.txt-white {
    color: #ffffff;
}
.footer-text-color{
    color: #6e6e73;
}
.poster-p{
    color: #86868b;


    font-size: 21px;
    line-height: 1.381;

}

.nav-bar {

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 12px 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-bar .flex-parent div a {
    color: rgb(223, 223, 223);
    font-family: applefont-light;
    font-size: 12px;
}

.nav-bar .flex-parent div a:hover {
    color: #ffffff;
}

.font-up {
    font-size: 16px;
}

.flex-parent {
    display: flex;
    justify-content: space-around;
    margin: auto 255px;
}

.nav-bar .flex-parent div:nth-child(n+2) {
    padding-top: 1px;
}

.iphone14pro {
    height: 624px;


    text-align: center;
    overflow: auto;

}

.bg-14pro {
    background: url(images/hero_iphone14pro__e5xbgo5ffhg2_large.jpg) no-repeat center;
    background-color: black;
}

.iphone14pro h2 {
    padding-top: 52px;
    font-size: 56px;
    margin-block-end: 8px;
}

.iphone14pro h3 {
    font-family: applefont-light;
    font-size: 28px;
    margin-block-start: 8px;
    margin-block-end: 12px;

}

.iphone14pro a {
    
    font-family: applefont-light;
    
}

.iphone14pro a i {
    font-size: 14px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 580px 580px 580px;
    grid-gap: 20px;
    padding: 20px;
    text-align: center;
}

div.grid-cell {
    background-color: #FBFBFD;
    padding: 10px;
}

.bg-14 {
    background: url(images/hero_iphone14_preorder__c4g2wjzuugqe_large.jpg) no-repeat center;
    background-color: #ffffff;
}

.bg-watch8 {
    background: url(images/hero_apple_watch_series_8__bjc1ok5mkjua_large.jpg) no-repeat center;
    background-color: black;
}

.bg-watch-se {
    background: url(images/promo_apple_watch_se__f9702l6odgi2_large.jpg) no-repeat center;
    
}
.bg-watch-ultra{
    background: url(images/promo_apple_watch_ultra_avail__ddgwll601eie_large.jpg) no-repeat center;
    
}
.bg-fitness{
    background: url(images/promo-apple-fitness-plus-iphone__bzeal882mv7m_large.jpg) no-repeat center;
}
.bg-airpods{
    background: url(images/promo_airpods_pro_avail__gaxggskofx6y_large.jpg) no-repeat center;
}
.bg-last-chance{
    background: url(images/promo_bts_last_chance__dqftd8sek46e_large.jpg) no-repeat center;
}
.bg-card{
    background: url(images/tile__cauwwcyyn9hy_large.jpg) no-repeat center;
}
.slideshow{
    margin: auto;
    height: 667.25px;
    width: 1250px;
    overflow: hidden;
    position: relative;
}
.slideshow-wrapper{
    display: flex;
    height: 100%;
    width: 1100%;
    position: relative;
    animation: slideshow 20s infinite;
}
@keyframes slideshow{
    0%  { left: 0; }
            4% { left: 0; }
            8% { left: -100%; }
            12% { left: -100%; }
            16% { left: -200%; }
            20% { left: -200%; }
            24% { left: -300%; }
            28% { left: -300%; }
            32% { left: -400%; }
            36% { left: -400%; }
            40% { left: -500%; }
            44% { left: -500%; }
            48% { left: -600%; }
            52% { left: -600%; }
            56% { left: -700%; }
            60% { left: -700%; }
            64% { left: -800%; }
            68% { left: -800%; }
            72% { left: -900%; }
            76% { left: -900%; }
            80% { left: -1000%; }
            84% { left: -1000%; }

            96% { left: 0%; }
}
.slide{
    height: 100%;
    width: 100%;

}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.slide-btn {
    background-color: #bbb;
    border-radius: 50%;
    border: transparent;
    width: 0.5rem;
    height: 0.8rem;
    outline: none;
    cursor: pointer;

    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
}
.slide-btn-1 {
    left: 42%;
}
.slide-btn-2 {
    left: 44%;
}
.slide-btn-3 {
    left: 46%;
}
.slide-btn-4 {
    left: 48%;
}
.slide-btn-5 {
    left: 50%;
}
.slide-btn-6 {
    left: 52%;
}
.slide-btn-7 {
    left: 54%;
}
.slide-btn-8 {
    left: 56%;
}
.slide-btn-9 {
    left: 58%;
}
.slide-btn-10 {
    left: 60%;
}
.slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
}
.slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
}
.slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
}
.slide-btn-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
}
.slide-btn-5:focus~.slideshow-wrapper {
    animation: none;
    left: -400%;
}
.slide-btn-6:focus~.slideshow-wrapper {
    animation: none;
    left: -500%;
}
.slide-btn-7:focus~.slideshow-wrapper {
    animation: none;
    left: -600%;
}
.slide-btn-8:focus~.slideshow-wrapper {
    animation: none;
    left: -700%;
}
.slide-btn-9:focus~.slideshow-wrapper {
    animation: none;
    left: -800%;
}
.slide-btn-10:focus~.slideshow-wrapper {
    animation: none;
    left: -900%;
}
.slide-btn:focus {
    background-color: rgb(129, 129, 129);
}
footer{
    font-size: 12px;
    font-family: applefont-light;
    line-height: 1.33337;
    font-weight: 400;
    background-color: #f5f5f7;
    margin-top: 2rem;
    padding: 0.25rem 17rem;
}

.flex-footer {
    display: flex;
    justify-content: center;
    line-height: 1.1;
    color: #424245;
    padding-top: 13px;
    border-top: 1px solid #d2d2d7;
}
.flex-1{
    flex: 1;
}
.font-medium{
    font-family: applefont-medium;
}
div.footer-text-color{
    padding-bottom: 13px;
}